app-action {
  dispaly: block;

  .state-toggle {
    margin-right: 5px;
  }

  .title {
    color: #333;

    &.completed {
      text-decoration: line-through;
      color: #bbb;
    }
  }

  .actions {
    float: right;

    a {
      color: #bbb;
    }
  }
}